<app-header></app-header>
<div class="container">
   <div style="height: 200px;" class="row bg-success"></div>
   <div style="width: 220px; height: 220px; border-radius: 50%; margin-top: -110px;" class="p-1 shadow d-flex justify-content-center align-items-center flex-column">
<label for="upload">
    <img width="200px" height="200px" style="border-radius: 50%;" [src]="userImage()" alt="">
</label>
<input (change)="updateProfilePic($event)"  type="file" id="upload" accept="image/*" hidden>
   </div>
   <label style="margin-top: -40px; margin-left: 100px;" for="upload" class="btn"><i class="fa-solid fa-upload fa-2x text-warning"></i></label>
   <h1>{{username}} <i class="fa-solid fa-circle-check text-primary"></i> </h1>
   <p style="text-align: justify;" class="my-3">
    😊 Passionate about discovering simple, delicious recipes and experimenting in the kitchen. I love trying new cuisines, adding my own twists to classic dishes, and sharing my cooking journey with the Cookpedia community.

✨ On Cookpedia, I focus on quick meals, comforting traditional recipes, and easy dishes anyone can enjoy.
   </p>
<p>🍛 Favourite Cuisines: Indian, Italian, Continental</p>
<p>❤️ Cooking Level: Beginner – Intermediate</p>
<p>⏱️ Cooking Style: Quick & Easy Meals</p>
<div class="my-5">
   <h3>Download Recipes History</h3>
   <div class="row">
    @if (downloadList().length>0) {
          @for (recipe of downloadList(); track $index) {
        <div class="col-lg-2">
     <div routerLink="/recipes/{{recipe.recipeId}}/view"  class="p-3">
<img class="card-img-top" [src]="recipe.image" alt="">
<div class="card-body">
<p class="card-title fw-bold">{{recipe.name}}</p>

</div>
 </div>
</div>
    }
    }@else {
        <p class="fw-bolder text-primary">Recipes not downloaded yet!!!</p>
    }
   
   </div>  
</div>
</div>
<app-footer></app-footer>
